// SASS 全局变量
$primaryColor: #3C80FF;//#5681f4; // #1890ff; // 主色调
$redColor: #D92121;//#5681f4; // #1890ff; // 主色调
$geryColor: #999999;//#5681f4; // #1890ff; // 主色调
$darkBgColor: #060747; // #001529; // 深色背景
$lightBgColor: #fafafa; // 浅色背景
